<html>
  <head>
    <title> internship </title>
  </head>
  <body>
    <h1> Recommended </h1>
    {% for book in books %}
      <p> {{ book.name }} by {{ book.author }} </p>
      <p> <img src = "{{ book.cover }} "> </p>
      <p> {{ book.price }}$ </p>
      <p> Published by: {{ book.owner }} </p>
      <p> {{ book.description }} </p>
      {% if user.is_authenticated %}
        <p> <a href = "/order/{{ book.id }}"> order </a> </p>
      {% endif %}
      <hr>
    {% endfor %}
  </body>
</html>
